.getdata{
    font-weight: lighter;
}

.popup{
    width: fit-content;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1),
        -10px -10px 10px rgba(0, 0, 0, .1);
    background-color: rgb(223, 90, 28);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    padding: 15px;
    font-weight: bold;
    z-index: 200 !important;
    margin-top: 100px;
}

.pagelink{
    border-radius: 50px;
    color: black;
    font-weight: bold;
}
.pagelink:hover{
    background-color: rgb(26, 50, 189);
    color: white;
    
}